<div class="menu-panel" data-cat="drinks">
  <h3 class="menu-head">Drinks</h3>
  <div class="menu-grid">
    <article class="mi"><h4>Pepsi</h4></article>
    <article class="mi"><h4>Pepsi Zero</h4></article>
    <article class="mi"><h4>Mug Root Beer</h4></article>
    <article class="mi"><h4>Starry</h4></article>
    <article class="mi"><h4>Dr. Pepper</h4></article>
    <article class="mi"><h4>Big Red</h4></article>
    <article class="mi"><h4>Pink Lemonade</h4></article>
    <article class="mi"><h4>Gatorade Fruit Punch</h4></article>
    <article class="mi"><h4>Tea</h4></article>
    <article class="mi"><h4>Coffee</h4></article>
    <article class="mi"><h4>Orange Juice</h4></article>
    <article class="mi"><h4>Milk or Chocolate Milk</h4></article>
  </div>
  <h3 class="menu-head">Bar</h3>
  <div class="menu-grid">
    <article class="mi"><h4>Frozen Sangria</h4></article>
    <article class="mi"><h4>Frosé</h4></article>
    <article class="mi"><h4>Farmhaus Blend</h4></article>
    <article class="mi"><h4>Wine</h4></article>
    <article class="mi"><h4>Beer and draft</h4></article>
  </div>
</div>
