<div class="menu-panel" data-cat="drinks">
  <h3 class="menu-head">Beverages</h3>
  <div class="menu-grid">
    <article class="mi"><div class="mi__row"><h4>Mex Coke</h4></div></article>
    <article class="mi"><div class="mi__row"><h4>Aguas frescas</h4></div></article>
    <article class="mi"><div class="mi__row"><h4>Fountain drinks</h4></div></article>
    <article class="mi"><div class="mi__row"><h4>Jarritos</h4></div></article>
  </div>
  <h3 class="menu-head" style="margin-top:1.4rem">Beers</h3>
  <div class="menu-grid">
    <article class="mi"><div class="mi__row"><h4>Corona</h4></div></article>
    <article class="mi"><div class="mi__row"><h4>Modelo</h4></div></article>
    <article class="mi"><div class="mi__row"><h4>Bud Light</h4></div></article>
    <article class="mi"><div class="mi__row"><h4>Budweiser</h4></div></article>
    <article class="mi"><div class="mi__row"><h4>Dos XX</h4></div></article>
    <article class="mi"><div class="mi__row"><h4>Ultra Lite</h4></div></article>
  </div>
  <h3 class="menu-head" style="margin-top:1.4rem">Drinks</h3>
  <div class="menu-grid">
    <article class="mi"><div class="mi__row"><h4>House margarita</h4></div></article>
    <article class="mi"><div class="mi__row"><h4>Bloody Mary</h4></div></article>
    <article class="mi"><div class="mi__row"><h4>Margarita</h4></div></article>
    <article class="mi"><div class="mi__row"><h4>Piña colada</h4></div></article>
    <article class="mi"><div class="mi__row"><h4>Michelada</h4></div></article>
    <article class="mi"><div class="mi__row"><h4>Beerrita</h4></div></article>
    <article class="mi"><div class="mi__row"><h4>Mangonadarita</h4></div></article>
    <article class="mi"><div class="mi__row"><h4>Strawberry daiquiri</h4></div></article>
  </div>
</div>
