<div class="menu-panel" data-cat="parrilladas">
  <h3 class="menu-head">Parrilladas</h3>
  <div class="menu-grid">
    <article class="mi"><div class="mi__row"><h4>Fajita parrillada</h4></div></article>
    <article class="mi"><div class="mi__row"><h4>Chicken and beef parrillada</h4></div></article>
    <article class="mi"><div class="mi__row"><h4>Chicken, beef, and shrimp parrillada</h4></div></article>
    <article class="mi"><div class="mi__row"><h4>Parrillada shrimp w/ fajitas</h4></div></article>
  </div>
</div>
