<div class="menu-panel" data-cat="tacos">
  <h3 class="menu-head">Tacos</h3>
  <div class="menu-grid">
    <article class="mi"><h4>Bean and cheese</h4></article>
    <article class="mi"><h4>Egg</h4></article>
    <article class="mi"><h4>Papa ranchera</h4></article>
    <article class="mi"><h4>Bean / rice</h4></article>
    <article class="mi"><h4>Potato / egg</h4></article>
    <article class="mi"><h4>Chorizo / egg</h4></article>
    <article class="mi"><h4>Chorizo / bean</h4></article>
    <article class="mi"><h4>Wiener / egg</h4></article>
    <article class="mi"><h4>Chorizo / potato</h4></article>
    <article class="mi"><h4>Country / potato</h4></article>
    <article class="mi"><h4>Ham / egg</h4></article>
    <article class="mi"><h4>Country / egg</h4></article>
    <article class="mi"><h4>Bacon / egg</h4></article>
    <article class="mi"><h4>Patty / egg</h4></article>
    <article class="mi"><h4>Bean / bacon</h4></article>
    <article class="mi"><h4>Huevo a la mexicana</h4></article>
    <article class="mi"><h4>Chicharrones / egg</h4></article>
    <article class="mi"><h4>Country a la mexicana</h4></article>
    <article class="mi"><h4>Migas</h4></article>
    <article class="mi"><h4>Chorizo / egg a la mex</h4></article>
    <article class="mi"><h4>Chilaquiles</h4></article>
    <article class="mi"><h4>Machacado</h4></article>
    <article class="mi"><h4>Picadillo</h4></article>
    <article class="mi"><h4>Chicken fajita</h4></article>
    <article class="mi"><h4>Beef fajita</h4></article>
    <article class="mi"><h4>Al pastor</h4></article>
    <article class="mi"><h4>Carne guisada</h4></article>
    <article class="mi"><h4>Brisket</h4></article>
    <article class="mi"><h4>Brisket a la mex</h4></article>
    <article class="mi"><h4>Breakfast chalupa</h4></article>
    <article class="mi"><h4>Mini tacos (4) al pastor</h4></article>
  </div>
</div>
